Repository chef/supermarket, pull requests merged in 2018-09, with the labels that each got.

#1756 replace periodic job scheduler with one that is maintained
  omnibus/cookbooks/omnibus-supermarket/metadata.rb
  omnibus/cookbooks/omnibus-supermarket/recipes/ssl.rb
  src/supermarket/Gemfile
  src/supermarket/Gemfile.lock
  src/supermarket/app/models/account.rb
  src/supermarket/app/workers/oauth_token_refresh_schedule_worker.rb
  src/supermarket/app/workers/sitemap_refresh_worker.rb
  src/supermarket/config/application.rb
  src/supermarket/config/initializers/sidekiq.rb
  src/supermarket/spec/models/account_spec.rb
  src/supermarket/spec/workers/oauth_token_refresh_schedule_worker_spec.rb
Labels: Bug

#1760 move orphaned fieri spec
  .expeditor/config.yml
  src/supermarket/engines/fieri/spec/models/source_repo_worker_spec.rb
Labels: Expeditor: Skip All

#1766 update rubyzip
  omnibus/Gemfile.lock
  src/supermarket/Gemfile.lock
Labels: Chore, Security

#1765 omit web server version from response headers
  omnibus/cookbooks/omnibus-supermarket/templates/default/nginx.conf.erb
  omnibus/cookbooks/omnibus-supermarket/test/integration/default/inspec/controls/install-check.rb
Labels: Security
