Repository chef/supermarket, pull requests merged in 2019-04, with the labels that each got.

#1799 update PR label to changelog category mapping
  .expeditor/config.yml
Labels: Aspect: Documentation, Expeditor: Skip All, Size: XS, Type: Chore

#1747 add support for S3 storage using IAM roles (IAM user and a key no longer required)
  omnibus/cookbooks/omnibus-supermarket/attributes/default.rb
  omnibus/cookbooks/omnibus-supermarket/libraries/config.rb
  omnibus/cookbooks/omnibus-supermarket/spec/libraries/config_spec.rb
  src/supermarket/app/lib/supermarket/s3_config_audit.rb
  src/supermarket/config/initializers/paperclip.rb
  src/supermarket/spec/lib/supermarket/s3_config_audit_spec.rb
Labels: Component: Omnibus, Expeditor: Bump Version Minor, Platform: AWS, Type: Enhancement

#1802 pin inspec to fix '-ctl test' requiring license acceptance
  omnibus/config/projects/supermarket.rb
Labels: Aspect: Packaging, Component: Omnibus, Size: XS, Type: Bug
