Repository chef/supermarket, pull requests merged in 2020-03, with the labels that each got.

#1852 upgrade Ruby to 2.6.5
  .travis.yml
  omnibus/Gemfile.lock
  omnibus/config/projects/supermarket.rb
  omnibus/config/software/supermarket-cookbooks.rb
  src/supermarket/Gemfile.lock
  src/supermarket/engines/fieri/Gemfile.lock
Labels: Aspect: Packaging, Component: Omnibus

#1819 Add s3_private_objects info to omnibus attributes
  omnibus/cookbooks/omnibus-supermarket/attributes/default.rb
Labels: Aspect: Packaging, Component: Omnibus, Expeditor: Skip All

#1849 generate secrets.json with warning messages
  .travis.yml
  omnibus/cookbooks/omnibus-supermarket/libraries/config.rb
  omnibus/cookbooks/omnibus-supermarket/metadata.rb
  omnibus/cookbooks/omnibus-supermarket/recipes/config.rb
  omnibus/cookbooks/omnibus-supermarket/spec/libraries/config_spec.rb
  omnibus/cookbooks/omnibus-supermarket/test/integration/default/inspec/controls/install-check.rb
Labels: Aspect: Security, Component: Omnibus

#1846 Prevent unsafe links to cross-origin destinations
  src/supermarket/app/helpers/markdown_helper.rb
  src/supermarket/app/views/layouts/application.html.erb
  src/supermarket/app/views/pages/dashboard.html.erb
  src/supermarket/app/views/pages/welcome.html.erb
  src/supermarket/app/views/tools/_tool.html.erb
  src/supermarket/app/views/users/_sidebar.html.erb
  src/supermarket/spec/helpers/markdown_helper_spec.rb
Labels: Aspect: Security
