Repository chef/supermarket, pull requests merged in 2020-08, with the labels that each got.

#1874 update deps: includes nginx 1.18.0 (addresses CVE-2019-20372 tripping up scanners)
  omnibus/Gemfile.lock
Labels: Aspect: Packaging, Aspect: Security, Type: Chore

#1873 Remove the roadmap file
  ROADMAP.md
Labels: Aspect: Documentation, Expeditor: Skip All

#1876 Minor comment fix to get full Cookstyle compliance in omnibus
  omnibus/cookbooks/supermarket-builder/recipes/default.rb
Labels: Aspect: Documentation, Aspect: Packaging, Expeditor: Skip All, Type: Chore

#1877 Update Ruby to 2.6.6 to resolve 2 CVEs
  .travis.yml
  omnibus/config/projects/supermarket.rb
Labels: Aspect: Packaging, Aspect: Security, Type: Chore

#1879 Update .ruby-version files
  src/supermarket/.ruby-version
  src/supermarket/engines/fieri/.ruby-version
Labels: Expeditor: Skip All, Type: Chore

#1881 Update Foodcritic from 14.3 to 16.3
  src/supermarket/Gemfile.lock
  src/supermarket/engines/fieri/fieri.gemspec
Labels: Type: Chore

#1880 Update required ruby version in the readme
  README.md
Labels: Aspect: Documentation, Expeditor: Skip All, Type: Chore

#1872 Documenting Cookbook transfer policy
  docs/cookbookadoptiononsupermarket.md
Labels: Aspect: Documentation, Expeditor: Skip All, Type: Chore
