Repository chef/supermarket, pull requests merged in 2021-08, with the labels that each got.

#2095 Fixed redirection errors identified by Brakeman
  src/supermarket/Gemfile
  src/supermarket/Gemfile.lock
  src/supermarket/app/controllers/api/v1/cookbook_versions_controller.rb
  src/supermarket/app/controllers/cookbook_versions_controller.rb
  src/supermarket/app/controllers/cookbooks_controller.rb
  src/supermarket/app/controllers/transfer_ownership_controller.rb
  src/supermarket/config/brakeman.ignore
Labels: Aspect: Security

#2105 Add all the teams to the GitHub codeowners file
  .github/CODEOWNERS
Labels: Expeditor: Skip All

#2081 Improve markdown rendering is changelogs / readmes
  src/supermarket/Gemfile
  src/supermarket/Gemfile.lock
  src/supermarket/app/helpers/markdown_helper.rb
  src/supermarket/spec/helpers/markdown_helper_spec.rb
Labels: Status: Sustaining Backlog

#2157 Update the ruby release in the rubocop configs to 2.7
  src/supermarket/.rubocop.yml
  src/supermarket/engines/fieri/.rubocop.yml
Labels: Expeditor: Skip Version Bump

#2158 Redis major upgrade
  README.md
  src/supermarket/docker-compose.yml
Labels: Expeditor: Skip Omnibus

#2148 Added prompt before delete action for collaborator
  src/supermarket/app/views/profile/edit.html.erb
Labels: Status: Sustaining Backlog

#2166 Automate release announcements + minor expeditor config updates
  .expeditor/announce-release.sh
  .expeditor/config.yml
Labels: Expeditor: Skip Version Bump

#2194 Removed references to icla/ccla configurations
  omnibus/cookbooks/omnibus-supermarket/attributes/default.rb
  src/supermarket/app/assets/javascripts/organizations.js
  src/supermarket/app/controllers/application_controller.rb
  src/supermarket/app/lib/supermarket/health.rb
  src/supermarket/app/mailers/mail_preview.rb
  src/supermarket/chef/data_bags/apps/supermarket.json
  src/supermarket/config/locales/en.yml
  src/supermarket/config/routes.rb
  src/supermarket/db/migrate/20131022165718_create_icla_signatures.rb
  src/supermarket/db/migrate/20131028190510_denormalize_icla_signatures.rb
  src/supermarket/db/migrate/20131106043222_create_iclas.rb
  src/supermarket/db/migrate/20131106043731_add_icla_id_to_icla_signatures.rb
  src/supermarket/db/migrate/20140109151326_create_cclas.rb
  src/supermarket/db/migrate/20140109151433_create_ccla_signatures.rb
  src/supermarket/db/migrate/20140130203554_create_curry_repositories.rb
  src/supermarket/db/migrate/20140203215700_add_callback_url_to_curry_repository.rb
  src/supermarket/db/migrate/20140204153606_create_curry_pull_request_updates.rb
  src/supermarket/db/migrate/20140204204412_remove_payload_and_add_number_action_repository_id_to_pull_request_update.rb
  src/supermarket/db/migrate/20140206161408_create_curry_pull_requests.rb
  src/supermarket/db/migrate/20140206162352_remove_number_and_repository_id_from_pull_request_update.rb
  src/supermarket/db/migrate/20140206162724_add_pull_request_id_to_curry_pull_request_update.rb
  src/supermarket/db/migrate/20140206201706_create_curry_unknown_committers.rb
  src/supermarket/db/migrate/20140206202928_create_curry_unknown_pull_request_committer_table.rb
  src/supermarket/db/migrate/20140214190005_rename_unknown_committer_to_commit_author.rb
  src/supermarket/db/migrate/20140214190129_add_signed_cla_flag_to_commit_authors.rb
  src/supermarket/db/migrate/20140214190513_rename_unknown_pull_request_committers_to_pull_request_commit_authors.rb
  src/supermarket/db/migrate/20140214190948_change_unknown_committer_id_to_commit_author_id.rb
  src/supermarket/db/migrate/20140618171504_remove_company_from_icla_signature.rb
  src/supermarket/db/migrate/20140630175717_rename_signed_cla_to_authorized_to_contribute.rb
  src/supermarket/db/migrate/20140703183937_pull_requests_are_unique_by_repo.rb
  src/supermarket/db/migrate/20140703185344_commit_authors_have_unique_emails_and_logins.rb
  src/supermarket/db/migrate/20140714194056_associate_ccla_signatures_with_contributor_requests.rb
  src/supermarket/db/migrate/20140722123525_curry_repository_attributes_not_nullable.rb
  src/supermarket/db/migrate/20140724151426_create_curry_pull_request_comments.rb
  src/supermarket/db/migrate/20140724193305_add_unauthorized_commit_authors_to_pull_request_comments.rb
  src/supermarket/db/migrate/20140902191042_create_cla_reports.rb
  src/supermarket/db/migrate/20150512134228_create_curry_repository_maintainers.rb
  src/supermarket/db/migrate/20150626120818_add_maintainer_to_curry_pull_request.rb
  src/supermarket/db/migrate/20160815191201_ensure_new_generated_indexes_exist.rb
  src/supermarket/db/migrate/20210827062432_drop_ccla_icla_related_tables.rb
  src/supermarket/db/migrate/20210830065034_drop_curry_related_tables.rb
  src/supermarket/db/schema.rb
  src/supermarket/docs/CONFIGURING.md
  src/supermarket/exec/supermarket-server
  src/supermarket/spec/factories/icla.rb
  src/supermarket/spec/factories/icla_signature.rb
  src/supermarket/spec/features/curry_spec.rb
  src/supermarket/spec/lib/supermarket/location_storage_spec.rb
  src/supermarket/spec/support/feature_helpers.rb
  src/supermarket/spec/vcr_helper.rb
Labels: Expeditor: Bump Version Major
