Repository chef/supermarket, pull requests merged in 2021-09, with the labels that each got.

#2212 Remove the cookbook published metrics from the code
  src/supermarket/app/controllers/api/v1/quality_metrics_controller.rb
  src/supermarket/app/models/quality_metric.rb
  src/supermarket/db/migrate/20210902130932_destroy_publish_metrics.rb
  src/supermarket/db/seeds.rb
  src/supermarket/engines/fieri/app/models/metrics_runner.rb
  src/supermarket/engines/fieri/app/models/publish_worker.rb
  src/supermarket/engines/fieri/spec/models/metrics_runner_spec.rb
  src/supermarket/engines/fieri/spec/models/publish_worker_spec.rb
  src/supermarket/spec/controllers/api/v1/quality_metrics_controller_spec.rb
  src/supermarket/spec/controllers/cookbook_versions_controller_spec.rb
  src/supermarket/spec/controllers/cookbooks_controller_spec.rb
  src/supermarket/spec/factories/quality_metric.rb
  src/supermarket/spec/models/quality_metric_spec.rb
Labels: Type: Breaking Change

#2245 Add seamless release notes
  .expeditor/config.yml
  .expeditor/publish-release-notes.sh
Labels: Expeditor: Skip All

#2247 Looks like it's supposed to publish then announce
  .expeditor/config.yml
Labels: Expeditor: Skip All

#2246 Rajeshpaul38/remove omnibus artifact vendor cache dir/1951
  omnibus/config/software/more-ruby-cleanup-supermarket.rb
Labels: Expeditor: Bump Version Minor
