Repository chef/supermarket, pull requests merged in 2021-07, with the labels that each got.

#1985 Updating expeditor configuration
  .expeditor/config.yml
Labels: Expeditor: Skip All

#1885 Start the process of rewriting the contributing docs
  CONTRIBUTING.md
  README.md
Labels: Expeditor: Skip All

#2031 Updated platform list for advanced search option
  src/supermarket/app/views/application/_search.html.erb
Labels: Status: Sustaining Backlog

#2030 Changed link for chef dk in directory file
  src/supermarket/app/views/cookbooks/directory.html.erb
  src/supermarket/spec/views/cookbooks/directory.html.erb_spec.rb
Labels: Status: Sustaining Backlog

#2032 Removed link botbotirc from application.html file
  src/supermarket/app/views/layouts/application.html.erb
Labels: Status: Sustaining Backlog

#2036 Remove provisioning driver from tools directory
  src/supermarket/app/models/tool.rb
Labels: Aspect: UI, Type: Chore

#2039 Updated readme; Added missing steps and how to fix guidelines;
  README.md
Labels: Expeditor: Skip Version Bump

#2049 Add github issue/PR templates
  .github/ISSUE_TEMPLATE/BUG_TEMPLATE.md
  .github/ISSUE_TEMPLATE/DESIGN_PROPOSAL.md
  .github/ISSUE_TEMPLATE/SUPPORT_QUESTION.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Expeditor: Skip All

#2045 Changes for removing .html from docs links
  src/supermarket/app/views/cookbooks/directory.html.erb
  src/supermarket/app/views/pages/dashboard.html.erb
  src/supermarket/app/views/pages/documentation.html.erb
  src/supermarket/app/views/pages/welcome.html.erb
Labels: Status: Sustaining Backlog

#2066 Delete the incomplete habitat plan
  habitat/README.md
  habitat/default.toml
  habitat/plan.sh
Labels: Type: Chore

#2058 Changes for sorting cookbooks with deprecated flag
  src/supermarket/app/controllers/cookbooks_controller.rb
  src/supermarket/app/models/cookbook.rb
  src/supermarket/spec/controllers/cookbooks_controller_spec.rb
  src/supermarket/spec/models/cookbook_spec.rb
Labels: Status: Sustaining Backlog
