Repository chef/supermarket, pull requests merged in 2021-12, with the labels that each got.

#2439 Configure labeller to auto asign docs PRs
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Expeditor: Skip All

#2433 Fix simplecov error on forked repo PRs and dependabot PRs
  .github/workflows/unit.yml
Labels: Expeditor: Skip All

#2410 Changes for jobs controller to not to throw CSRF token authentication error
  docs-chef-io/content/supermarket/config_rb_supermarket.md
  omnibus/cookbooks/omnibus-supermarket/attributes/default.rb
  src/supermarket/config/environments/production.rb
  src/supermarket/engines/fieri/app/controllers/fieri/jobs_controller.rb
Labels: Documentation

#2467 Documentation lints
  .github/workflows/docs-lint.yml
Labels: Documentation

#2468 Don't run Brakeman on docs
  .github/workflows/brakeman-analysis.yml
Labels: Documentation

#2470 Exclude docs from unit tests
  .github/workflows/unit.yml
Labels: Documentation

#2471 Don't run code lints on docs
  .github/workflows/lint.yml
Labels: Documentation

#2474 Update hugo version 0.91.2
  docs-chef-io/netlify.toml
Labels: Aspect: Documentation, Documentation

#2472 Set product in search to supermarket
  docs-chef-io/content/supermarket/_index.md
  docs-chef-io/content/supermarket/config_rb_supermarket.md
  docs-chef-io/content/supermarket/ctl_supermarket.md
  docs-chef-io/content/supermarket/install_supermarket.md
  docs-chef-io/content/supermarket/supermarket_api.md
  docs-chef-io/content/supermarket/supermarket_backup_restore.md
  docs-chef-io/content/supermarket/supermarket_logs.md
  docs-chef-io/content/supermarket/supermarket_monitor.md
  docs-chef-io/content/supermarket/supermarket_private.md
  docs-chef-io/content/supermarket/supermarket_share_cookbook.md
Labels: Aspect: Documentation, Documentation

#2473 Supermarket nav improvements & upgrade page
  docs-chef-io/archetypes/default.md
  docs-chef-io/content/supermarket/install_supermarket.md
  docs-chef-io/content/supermarket/supermarket_upgrade.md
Labels: Documentation

#2428 SPDX-CTL command documentation and cookbook_upload change
  docs-chef-io/content/supermarket/ctl_supermarket.md
  src/supermarket/app/controllers/api/v1/cookbook_uploads_controller.rb
Labels: Aspect: Documentation, Documentation

#2476 Update docs links to the downloads site
  docs-chef-io/content/supermarket/install_supermarket.md
  omnibus/cookbooks/omnibus-supermarket/README.md
Labels: Aspect: Documentation, Documentation

#2477 Markdown formatting.
  docs-chef-io/content/supermarket/_index.md
  docs-chef-io/content/supermarket/config_rb_supermarket.md
  docs-chef-io/content/supermarket/ctl_supermarket.md
  docs-chef-io/content/supermarket/install_supermarket.md
  docs-chef-io/content/supermarket/supermarket_api.md
  docs-chef-io/content/supermarket/supermarket_backup_restore.md
  docs-chef-io/content/supermarket/supermarket_logs.md
  docs-chef-io/content/supermarket/supermarket_monitor.md
  docs-chef-io/content/supermarket/supermarket_share_cookbook.md
Labels: Documentation
