Repository chef/supermarket, pull requests merged in 2022-06, with the labels that each got.

#2763 Update omnibus/Gemfile.lock
  omnibus/Gemfile.lock
Labels: Expeditor: Skip All

#2785 Move shortcodes used in supermarket docs to supermarket repo.
  docs-chef-io/Makefile
  docs-chef-io/content/supermarket/_index.md
  docs-chef-io/content/supermarket/config_rb_supermarket.md
  docs-chef-io/content/supermarket/ctl_supermarket.md
  docs-chef-io/content/supermarket/install_supermarket.md
  docs-chef-io/content/supermarket/supermarket_api.md
  docs-chef-io/content/supermarket/supermarket_private.md
  docs-chef-io/layouts/shortcodes/supermarket/supermarket_api_summary.md
  docs-chef-io/layouts/shortcodes/supermarket/supermarket_private.md
  docs-chef-io/layouts/shortcodes/supermarket/supermarket_summary.md
Labels: Aspect: Documentation, Documentation

#2783 PG restore command fixed in the docs
  docs-chef-io/content/supermarket/supermarket_backup_restore.md
Labels: Documentation
