Repository chef/supermarket, pull requests merged in 2022-01, with the labels that each got.

#2482 Fix the capitalization of GitHub
  README.md
  src/supermarket/engines/fieri/spec/models/contributing_file_worker_spec.rb
  src/supermarket/engines/fieri/spec/models/testing_file_worker_spec.rb
  src/supermarket/engines/fieri/spec/models/version_tag_worker_spec.rb
Labels: Documentation

#2489 Corrected typo in spdx documentation
  docs-chef-io/content/supermarket/ctl_supermarket.md
Labels: Aspect: Documentation, Documentation

#2475 Update the announcement script for new downloads site
  .expeditor/announce-release.sh
Labels: Expeditor: Skip All, Aspect: Documentation, Documentation

#2513 Remove the private supermarket source link
  docs-chef-io/content/supermarket/_index.md
Labels: Documentation

#2501 Remove the attributes and docs for New Relic
  docs-chef-io/content/supermarket/config_rb_supermarket.md
  omnibus/cookbooks/omnibus-supermarket/attributes/default.rb
Labels: Documentation

#2514 Use the new PNG supermarket image
  docs-chef-io/content/supermarket/_index.md
Labels: Documentation

#2483 Remove ruby-filemagic dep from fieri
  README.md
  src/supermarket/Gemfile.lock
  src/supermarket/engines/fieri/Gemfile.lock
  src/supermarket/engines/fieri/fieri.gemspec
Labels: Documentation

#2481 Improve the dev docs
  dev-docs/connect_supermarket_with_local_infra_server_ocid.md
  dev-docs/cookbook_adoption_process.md
  dev-docs/running_supermarket_tests_locally.md
  dev-docs/setup_test_env_in_local.md
  dev-docs/supermarket-release-checklist.md
Labels: Expeditor: Skip Version Bump

#2515 Fix spellcheck
  .github/workflows/docs-lint.yml
Labels: Documentation

#2516 Add cspell.json
  docs-chef-io/cspell.json
Labels: Documentation

#2376 Updated the log directory permission
  docs-chef-io/content/supermarket/config_rb_supermarket.md
  omnibus/cookbooks/omnibus-supermarket/attributes/default.rb
  omnibus/cookbooks/omnibus-supermarket/recipes/config.rb
  omnibus/cookbooks/omnibus-supermarket/recipes/sidekiq.rb
Labels: Documentation

#2547 Use central cspell config
  .github/workflows/docs-lint.yml
Labels: Expeditor: Skip All

#2099 Release process doc
  dev-docs/supermarket-release-process.md
Labels: Aspect: Documentation, Type: Chore
