Repository chef/supermarket, pull requests merged in 2022-02, with the labels that each got.

#2568 Removed unnecessary prompt '$'
  omnibus/README.md
Labels: Expeditor: Skip All

#2584 Remove requirements since these are bundled
  README.md
Labels: Aspect: Documentation, Documentation

#2578 added steps to fix gem installation issue for therubyracer and libv8
  README.md
Labels: Documentation

#2601 Update release checklist doc
  dev-docs/supermarket-release-checklist.md
Labels: Aspect: Documentation, Documentation

#2626 Docs update for upgrading to version 5.0
  docs-chef-io/content/supermarket/supermarket_upgrade.md
Labels: Expeditor: Bump Version Minor, Documentation
